<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
       http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">

    <alternatives>
        <class>lt.vu.fitlog.persistence.ExerciseDAOMyBatis</class>
        <class>lt.vu.fitlog.persistence.MuscleGroupDAOMyBatis</class>
        <class>lt.vu.fitlog.persistence.WorkoutPlanDAOMyBatis</class>
    </alternatives>

    <interceptors>
        <class>org.mybatis.cdi.LocalTransactionInterceptor</class>
        <class>lt.vu.fitlog.interceptors.LoggingInterceptor</class>
    </interceptors>

    <decorators>
        <class>lt.vu.fitlog.decorators.WorkoutPlanDAODecorator</class>
    </decorators>

</beans>